In [1]:
import pandas as pd
df=pd.read_csv("Flight_delay.csv")
df

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,5,13-06-2019,1609,1942,1915,AA,American Airlines Inc.,1496,N510AA,153,...,7,15,0,N,0,27,0,0,0,0
484547,6,14-06-2019,1616,1954,1915,AA,American Airlines Inc.,1496,N559AA,158,...,11,11,0,N,0,11,0,0,0,28
484548,2,17-06-2019,1617,2002,1915,AA,American Airlines Inc.,1496,N505AA,165,...,7,17,0,N,0,0,22,5,0,20
484549,7,22-06-2019,1607,1941,1915,AA,American Airlines Inc.,1496,N421AA,154,...,5,12,0,N,0,1,0,0,0,25
484550,1,23-06-2019,1608,1933,1915,AA,American Airlines Inc.,1496,N487AA,145,...,6,10,0,N,0,18,0,0,0,0

In [2]:
df.head(10)# Top 10 rowdf.

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16
5,4,03-01-2019,1416,1512,1435,WN,Southwest Airlines Co.,54,N643SW,56,...,2,5,0,N,0,12,0,0,0,25
6,4,03-01-2019,1657,1754,1735,WN,Southwest Airlines Co.,623,N724SW,57,...,5,5,0,N,0,7,0,0,0,12
7,4,03-01-2019,1422,1657,1610,WN,Southwest Airlines Co.,188,N215WN,155,...,6,6,0,N,0,40,0,0,0,7
8,4,03-01-2019,2107,2334,2230,WN,Southwest Airlines Co.,362,N798SW,147,...,6,7,0,N,0,5,0,0,0,59
9,4,03-01-2019,1812,1927,1815,WN,Southwest Airlines Co.,422,N779SW,135,...,6,11,0,N,0,3,0,0,0,69

In [3]:
df.tail(10) # Last 10 row

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
484541,7,29-06-2019,1308,1715,1640,AA,American Airlines Inc.,1494,N584AA,187,...,6,26,0,N,0,14,0,12,0,9
484542,3,04-06-2019,1617,1945,1915,AA,American Airlines Inc.,1496,N405AA,148,...,4,15,0,N,0,0,0,0,0,30
484543,7,08-06-2019,1623,1957,1915,AA,American Airlines Inc.,1496,N511AA,154,...,8,16,0,N,0,42,0,0,0,0
484544,2,10-06-2019,1623,2003,1915,AA,American Airlines Inc.,1496,N499AA,160,...,8,16,0,N,0,46,0,0,0,2
484545,4,12-06-2019,1545,1944,1915,AA,American Airlines Inc.,1496,N498AA,179,...,7,24,0,N,0,10,0,19,0,0
484546,5,13-06-2019,1609,1942,1915,AA,American Airlines Inc.,1496,N510AA,153,...,7,15,0,N,0,27,0,0,0,0
484547,6,14-06-2019,1616,1954,1915,AA,American Airlines Inc.,1496,N559AA,158,...,11,11,0,N,0,11,0,0,0,28
484548,2,17-06-2019,1617,2002,1915,AA,American Airlines Inc.,1496,N505AA,165,...,7,17,0,N,0,0,22,5,0,20
484549,7,22-06-2019,1607,1941,1915,AA,American Airlines Inc.,1496,N421AA,154,...,5,12,0,N,0,1,0,0,0,25
484550,1,23-06-2019,1608,1933,1915,AA,American Airlines Inc.,1496,N487AA,145,...,6,10,0,N,0,18,0,0,0,0

In [4]:
df.size

14051979

In [5]:
df.columns

Index(['DayOfWeek', 'Date', 'DepTime', 'ArrTime', 'CRSArrTime',
       'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin',
       'Org_Airport', 'Dest', 'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [6]:
df.dtypes

DayOfWeek             int64
Date                 object
DepTime               int64
ArrTime               int64
CRSArrTime            int64
UniqueCarrier        object
Airline              object
FlightNum             int64
TailNum              object
ActualElapsedTime     int64
CRSElapsedTime        int64
AirTime               int64
ArrDelay              int64
DepDelay              int64
Origin               object
Org_Airport          object
Dest                 object
Dest_Airport         object
Distance              int64
TaxiIn                int64
TaxiOut               int64
Cancelled             int64
CancellationCode     object
Diverted              int64
CarrierDelay          int64
WeatherDelay          int64
NASDelay              int64
SecurityDelay         int64
LateAircraftDelay     int64
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484551 entries, 0 to 484550
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DayOfWeek          484551 non-null  int64
 1   Date               484551 non-null  object
 2   DepTime            484551 non-null  int64
 3   ArrTime            484551 non-null  int64
 4   CRSArrTime         484551 non-null  int64
 5   UniqueCarrier      484551 non-null  object
 6   Airline            484551 non-null  object
 7   FlightNum          484551 non-null  int64
 8   TailNum            484551 non-null  object
 9   ActualElapsedTime  484551 non-null  int64
 10  CRSElapsedTime     484551 non-null  int64
 11  AirTime            484551 non-null  int64
 12  ArrDelay           484551 non-null  int64
 13  DepDelay           484551 non-null  int64
 14  Origin             484551 non-null  object
 15  Org_Airport        483374 non-null  object
 16  Dest               484551 non-null  object
 17  Dest_Airport       483072 non-null  object
 18  Distance           484551 non-null  int64
 19  TaxiIn             484551 non-null  int64
 20  TaxiOut            484551 non-null  int64
 21  Cancelled          484551 non-null  int64
 22  CancellationCode   484551 non-null  object
 23  Diverted           484551 non-null  int64
 24  CarrierDelay       484551 non-null  int64
 25  WeatherDelay       484551 non-null  int64
 26  NASDelay           484551 non-null  int64
 27  SecurityDelay      484551 non-null  int64
 28  LateAircraftDelay  484551 non-null  int64
dtypes: int64(20), object(9)
memory usage: 107.2+ MB

In [8]:
df.isnull().sum()

DayOfWeek               0
Date                    0
DepTime                 0
ArrTime                 0
CRSArrTime              0
UniqueCarrier           0
Airline                 0
FlightNum               0
TailNum                 0
ActualElapsedTime       0
CRSElapsedTime          0
AirTime                 0
ArrDelay                0
DepDelay                0
Origin                  0
Org_Airport          1177
Dest                    0
Dest_Airport         1479
Distance                0
TaxiIn                  0
TaxiOut                 0
Cancelled               0
CancellationCode        0
Diverted                0
CarrierDelay            0
WeatherDelay            0
NASDelay                0
SecurityDelay           0
LateAircraftDelay       0
dtype: int64

In [9]:
df.duplicated().sum()

np.int64(2)

In [10]:
df.describe()

,DayOfWeek,DepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.0,484551.0,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000
mean,3.991605,1564.477865,1617.784438,1652.129929,2139.207386,134.810422,131.400761,108.877134,60.907764,57.498086,752.142689,6.782413,19.150876,0.0,0.0,17.419440,3.153284,13.599421,0.082033,26.653587
std,1.971466,452.235219,583.637660,466.096216,1812.677071,74.070374,71.542531,70.113513,56.975420,55.991012,571.631124,5.555816,15.309747,0.0,0.0,39.417893,19.503657,31.454655,1.884774,40.535994
min,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000,-21.000000,0.000000,15.000000,6.000000,31.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1234.000000,1327.000000,1339.000000,629.000000,80.000000,79.000000,57.000000,25.000000,23.000000,331.000000,4.000000,11.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,1620.000000,1737.000000,1723.000000,1514.000000,116.000000,114.000000,90.000000,42.000000,40.000000,599.000000,5.000000,15.000000,0.0,0.0,2.000000,0.000000,1.000000,0.000000,13.000000
75%,6.000000,1928.000000,2049.000000,2025.000000,3683.000000,168.000000,162.000000,139.000000,76.000000,72.000000,992.000000,8.000000,22.000000,0.0,0.0,19.000000,0.000000,13.000000,0.000000,36.000000
max,7.000000,2400.000000,2400.000000,2359.000000,8403.000000,727.000000,602.000000,609.000000,1707.000000,1710.000000,4502.000000,207.000000,383.000000,0.0,0.0,1707.000000,1148.000000,1357.000000,392.000000,1254.000000

In [11]:
print("Minimum Distance:", df['Distance'].min())

Minimum Distance: 31

In [12]:
print("Maximum Distance:", df['Distance'].max())

Maximum Distance: 4502

In [13]:
print("Average Distance:", df['Distance'].mean())

Average Distance: 752.1426887984959

In [14]:
long_flights = df[df['Distance'] > 1000]
print("\nFlights with Distance > 1000 miles:")
print(long_flights[['FlightNum', 'Origin', 'Dest', 'Distance']])

Flights with Distance > 1000 miles:
        FlightNum Origin Dest  Distance
1             509    IND  LAS      1591
3             675    IND  PHX      1489
7             188    ISP  FLL      1093
10           1056    ISP  PBI      1052
25            302    LAS  ALB      2237
...           ...    ...  ...       ...
484537       1494    DFW  FLL      1119
484538       1494    DFW  FLL      1119
484539       1494    DFW  FLL      1119
484540       1494    DFW  FLL      1119
484541       1494    DFW  FLL      1119

[118560 rows x 4 columns]

In [15]:
#Flight count by DayOfWeek
flights_by_day = df['DayOfWeek'].value_counts().sort_index()
print("\nFlights by Day of Week")
print(flights_by_day)

Flights by Day of Week
DayOfWeek
1    70254
2    65934
3    63055
4    75011
5    88972
6    51330
7    69995
Name: count, dtype: int64

In [16]:
#Average arrival & departure delay by airline
avg_delays_by_airline = df.groupby('Airline')[['ArrDelay', 'DepDelay']].mean()
print("\nAverage Delays by Airline")
print(avg_delays_by_airline)

Average Delays by Airline
                               ArrDelay   DepDelay
Airline
Alaska Airlines Inc.          57.557600  55.162000
American Airlines Inc.        65.729621  60.314908
American Eagle Airlines Inc.  64.277233  57.815241
Atlantic Southeast Airlines   63.210684  61.378060
Delta Air Lines Inc.          59.292422  52.862541
Frontier Airlines Inc.        41.973710  36.504382
Hawaiian Airlines Inc.        55.658333  52.752083
JetBlue Airways               72.869370  68.284822
Skywest Airlines Inc.         65.187659  60.368212
Southwest Airlines Co.        51.032945  51.245128
US Airways Inc.               58.454165  56.025004
United Air Lines Inc.         69.670539  66.369007

In [17]:
#Top 10 longest flights (by Distance)
longest_flights = df.nlargest(10, 'Distance')[['Airline', 'FlightNum', 'Origin', 'Dest', 'Distance']]
print("\nTop 10 Longest Flight")
print(longest_flights)

Top 10 Longest Flight
                    Airline  FlightNum Origin Dest  Distance
48287  Delta Air Lines Inc.        850    HNL  ATL      4502
48433  Delta Air Lines Inc.       1273    ATL  HNL      4502
48666  Delta Air Lines Inc.        851    ATL  HNL      4502
48873  Delta Air Lines Inc.        851    ATL  HNL      4502
49258  Delta Air Lines Inc.        851    ATL  HNL      4502
49334  Delta Air Lines Inc.       1273    ATL  HNL      4502
49900  Delta Air Lines Inc.        851    ATL  HNL      4502
50124  Delta Air Lines Inc.        850    HNL  ATL      4502
50125  Delta Air Lines Inc.        851    ATL  HNL      4502
50316  Delta Air Lines Inc.       1273    ATL  HNL      4502

In [18]:
#Cancellation analysis
cancellations = df['Cancelled'].value_counts(normalize=True) * 100
print("\nCancellation Rate (%)")
print(cancellations)

Cancellation Rate (%)
Cancelled
0    100.0
Name: proportion, dtype: float64

In [19]:
#Taxi times statistics
print("\nAverage Taxi In/Out Time")
print(df[['TaxiIn', 'TaxiOut']].mean())

Average Taxi In/Out Time
TaxiIn      6.782413
TaxiOut    19.150876
dtype: float64

In [20]:
#FLIGHT COUNTS & BASIC STATS
print(df['Airline'].value_counts())

Airline
Southwest Airlines Co.          119048
American Airlines Inc.           73053
American Eagle Airlines Inc.     58698
United Air Lines Inc.            56896
Skywest Airlines Inc.            50384
US Airways Inc.                  31755
Delta Air Lines Inc.             30220
Atlantic Southeast Airlines      28678
JetBlue Airways                  15364
Alaska Airlines Inc.             10000
Frontier Airlines Inc.            9015
Hawaiian Airlines Inc.            1440
Name: count, dtype: int64

In [21]:
print(df['DayOfWeek'].value_counts().sort_index())

DayOfWeek
1    70254
2    65934
3    63055
4    75011
5    88972
6    51330
7    69995
Name: count, dtype: int64

In [22]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Verify conversion
print(df['Date'].head())
print(df['Date'].dtype)

0   2019-03-01
1   2019-03-01
2   2019-03-01
3   2019-03-01
4   2019-03-01
Name: Date, dtype: datetime64[ns]
datetime64[ns]

In [24]:
df.to_csv("Airfly_insights.csv", index=False)