In [37]:
import pandas as pd
df=pd.read_csv("Flight_delays.csv")

In [3]:
df.head()

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16

In [4]:
df.dtypes

DayOfWeek             int64
Date                 object
DepTime               int64
ArrTime               int64
CRSArrTime            int64
UniqueCarrier        object
Airline              object
FlightNum             int64
TailNum              object
ActualElapsedTime     int64
CRSElapsedTime        int64
AirTime               int64
ArrDelay              int64
DepDelay              int64
Origin               object
Org_Airport          object
Dest                 object
Dest_Airport         object
Distance              int64
TaxiIn                int64
TaxiOut               int64
Cancelled             int64
CancellationCode     object
Diverted              int64
CarrierDelay          int64
WeatherDelay          int64
NASDelay              int64
SecurityDelay         int64
LateAircraftDelay     int64
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484551 entries, 0 to 484550
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DayOfWeek          484551 non-null  int64
 1   Date               484551 non-null  object
 2   DepTime            484551 non-null  int64
 3   ArrTime            484551 non-null  int64
 4   CRSArrTime         484551 non-null  int64
 5   UniqueCarrier      484551 non-null  object
 6   Airline            484551 non-null  object
 7   FlightNum          484551 non-null  int64
 8   TailNum            484551 non-null  object
 9   ActualElapsedTime  484551 non-null  int64
 10  CRSElapsedTime     484551 non-null  int64
 11  AirTime            484551 non-null  int64
 12  ArrDelay           484551 non-null  int64
 13  DepDelay           484551 non-null  int64
 14  Origin             484551 non-null  object
 15  Org_Airport        483374 non-null  object
 16  Dest               484551 non-null  object
 17  Dest_Airport       483072 non-null  object
 18  Distance           484551 non-null  int64
 19  TaxiIn             484551 non-null  int64
 20  TaxiOut            484551 non-null  int64
 21  Cancelled          484551 non-null  int64
 22  CancellationCode   484551 non-null  object
 23  Diverted           484551 non-null  int64
 24  CarrierDelay       484551 non-null  int64
 25  WeatherDelay       484551 non-null  int64
 26  NASDelay           484551 non-null  int64
 27  SecurityDelay      484551 non-null  int64
 28  LateAircraftDelay  484551 non-null  int64
dtypes: int64(20), object(9)
memory usage: 107.2+ MB

In [6]:
df.isnull().sum()

DayOfWeek               0
Date                    0
DepTime                 0
ArrTime                 0
CRSArrTime              0
UniqueCarrier           0
Airline                 0
FlightNum               0
TailNum                 0
ActualElapsedTime       0
CRSElapsedTime          0
AirTime                 0
ArrDelay                0
DepDelay                0
Origin                  0
Org_Airport          1177
Dest                    0
Dest_Airport         1479
Distance                0
TaxiIn                  0
TaxiOut                 0
Cancelled               0
CancellationCode        0
Diverted                0
CarrierDelay            0
WeatherDelay            0
NASDelay                0
SecurityDelay           0
LateAircraftDelay       0
dtype: int64

In [7]:
df=df.dropna()

In [8]:
df.isnull().sum()

DayOfWeek            0
Date                 0
DepTime              0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
Airline              0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Org_Airport          0
Dest                 0
Dest_Airport         0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(2)

In [43]:
df=df.drop_duplicates()

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
df.describe()

,DayOfWeek,DepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,481893.000000,481893.000000,481893.000000,481893.000000,481893.000000,481893.000000,481893.000000,481893.000000,481893.000000,481893.000000,481893.000000,481893.000000,481893.000000,481893.0,481893.0,481893.000000,481893.000000,481893.000000,481893.000000,481893.000000
mean,3.991116,1564.760459,1617.969715,1652.850189,2122.588054,135.166105,131.752204,109.218096,60.877838,57.463920,755.087854,6.785114,19.162895,0.0,0.0,17.334350,3.133638,13.600799,0.081574,26.727477
std,1.971206,452.299755,584.199873,466.221635,1802.896877,74.092664,71.562255,70.135631,56.949080,55.959878,571.709055,5.556259,15.329120,0.0,0.0,39.280536,19.452435,31.436488,1.880725,40.569851
min,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000,-21.000000,0.000000,15.000000,6.000000,31.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1234.000000,1327.000000,1340.000000,626.000000,80.000000,80.000000,57.000000,25.000000,23.000000,334.000000,4.000000,11.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,1621.000000,1737.000000,1725.000000,1505.000000,117.000000,114.000000,90.000000,42.000000,40.000000,601.000000,5.000000,15.000000,0.0,0.0,2.000000,0.000000,1.000000,0.000000,13.000000
75%,6.000000,1928.000000,2049.000000,2025.000000,3659.000000,168.000000,163.000000,139.000000,76.000000,72.000000,992.000000,8.000000,22.000000,0.0,0.0,19.000000,0.000000,13.000000,0.000000,36.000000
max,7.000000,2400.000000,2400.000000,2359.000000,8403.000000,727.000000,602.000000,609.000000,1707.000000,1710.000000,4502.000000,207.000000,383.000000,0.0,0.0,1707.000000,1148.000000,1357.000000,392.000000,1254.000000

In [26]:
df['Airline'].value_counts()

Airline
Southwest Airlines Co.          119048
American Airlines Inc.           73053
American Eagle Airlines Inc.     58698
United Air Lines Inc.            56896
Skywest Airlines Inc.            48862
US Airways Inc.                  31755
Delta Air Lines Inc.             30220
Atlantic Southeast Airlines      27544
JetBlue Airways                  15364
Alaska Airlines Inc.             10000
Frontier Airlines Inc.            9013
Hawaiian Airlines Inc.            1440
Name: count, dtype: int64

In [41]:
df.Origin.nunique()

274

In [15]:
#sampling on data -10% of the rows-40000 rows
sample_df=df.sample(frac=0.1,random_state=42)
sample_df.describe()

,DayOfWeek,DepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,48189.000000,48189.000000,48189.000000,48189.000000,48189.000000,48189.000000,48189.000000,48189.000000,48189.000000,48189.000000,48189.000000,48189.000000,48189.000000,48189.0,48189.0,48189.000000,48189.000000,48189.000000,48189.000000,48189.000000
mean,3.990205,1565.765216,1619.582415,1653.455602,2127.083069,135.339517,131.812115,109.252070,60.752558,57.225134,755.364295,6.823134,19.264313,0.0,0.0,17.358941,3.114590,13.685405,0.093880,26.499741
std,1.972288,450.705004,583.229090,466.055102,1799.185405,74.521655,72.052158,70.551026,56.283401,55.321566,575.260515,5.832816,15.447993,0.0,0.0,38.629988,19.118577,31.902300,1.926469,40.495370
min,1.000000,1.000000,1.000000,1.000000,1.000000,19.000000,15.000000,2.000000,15.000000,6.000000,31.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1234.000000,1328.000000,1338.000000,633.000000,80.000000,80.000000,57.000000,25.000000,23.000000,333.000000,4.000000,11.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,1620.000000,1739.000000,1725.000000,1505.000000,116.000000,114.000000,90.000000,42.000000,40.000000,599.000000,5.000000,15.000000,0.0,0.0,2.000000,0.000000,1.000000,0.000000,13.000000
75%,5.000000,1929.000000,2050.000000,2025.000000,3657.000000,168.000000,163.000000,139.000000,76.000000,72.000000,992.000000,8.000000,22.000000,0.0,0.0,19.000000,0.000000,13.000000,0.000000,35.000000
max,7.000000,2400.000000,2400.000000,2359.000000,7710.000000,635.000000,602.000000,586.000000,1370.000000,1521.000000,4502.000000,160.000000,320.000000,0.0,0.0,1312.000000,846.000000,1289.000000,149.000000,925.000000

In [24]:
df['Date']=pd.to_datetime(df['Date'],format="mixed")
df['month']=df['Date'].dt.month
df['Day']=df.Date.dt.dayofweek+1

In [20]:
df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['DayOfWeek', 'Date', 'DepTime', 'ArrTime', 'CRSArrTime',
       'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin',
       'Org_Airport', 'Dest', 'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'month', 'Day'],
      dtype='object')>

In [22]:
df['Total_delay']=df['ArrDelay'].fillna(0)+df['DepDelay'].fillna(0)

In [25]:
display(df)

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,month,Day,Total_delay
0,4,2019-03-01,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,N,0,2,0,0,0,32,3,5,68
1,4,2019-03-01,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,N,0,10,0,0,0,47,3,5,124
2,4,2019-03-01,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,N,0,8,0,0,0,72,3,5,174
3,4,2019-03-01,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,N,0,3,0,0,0,12,3,5,42
4,4,2019-03-01,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,N,0,0,0,0,0,16,3,5,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,5,2019-06-13,1609,1942,1915,AA,American Airlines Inc.,1496,N510AA,153,...,N,0,27,0,0,0,0,6,4,61
484547,6,2019-06-14,1616,1954,1915,AA,American Airlines Inc.,1496,N559AA,158,...,N,0,11,0,0,0,28,6,5,80
484548,2,2019-06-17,1617,2002,1915,AA,American Airlines Inc.,1496,N505AA,165,...,N,0,0,22,5,0,20,6,1,89
484549,7,2019-06-22,1607,1941,1915,AA,American Airlines Inc.,1496,N421AA,154,...,N,0,1,0,0,0,25,6,6,58
484550,1,2019-06-23,1608,1933,1915,AA,American Airlines Inc.,1496,N487AA,145,...,N,0,18,0,0,0,0,6,7,51

In [38]:
df.DepTime=pd.to_datetime(df.DepTime.astype(str).str.zfill(4),format="%H%M",errors='coerce').dt.strftime('%H:%M')
df.ArrTime=pd.to_datetime(df.ArrTime.astype(str).str.zfill(4),format="%H%M",errors='coerce').dt.strftime('%H:%M')
df.CRSArrTime=pd.to_datetime(df.CRSArrTime.astype(str).str.zfill(4),format="%H%M",errors='coerce').dt.strftime('%H:%M')

In [39]:
df.head()

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,18:29,19:59,19:25,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,19:37,20:37,19:40,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,16:44,18:45,17:25,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,14:52,16:40,16:25,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,13:23,15:26,15:10,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16

In [42]:
df.isnull().sum()

DayOfWeek               0
Date                    0
DepTime                90
ArrTime               464
CRSArrTime              0
UniqueCarrier           0
Airline                 0
FlightNum               0
TailNum                 0
ActualElapsedTime       0
CRSElapsedTime          0
AirTime                 0
ArrDelay                0
DepDelay                0
Origin                  0
Org_Airport          1177
Dest                    0
Dest_Airport         1479
Distance                0
TaxiIn                  0
TaxiOut                 0
Cancelled               0
CancellationCode        0
Diverted                0
CarrierDelay            0
WeatherDelay            0
NASDelay                0
SecurityDelay           0
LateAircraftDelay       0
dtype: int64

In [47]:
df.DepTime=df.DepTime.bfill()

In [48]:
df.ArrTime=df.ArrTime.ffill()

In [50]:
df.Org_Airport=df.Org_Airport.fillna('Unknown')
df.Dest_Airport=df.Dest_Airport.fillna('Unknown')

In [51]:
df.isnull().sum()

DayOfWeek            0
Date                 0
DepTime              0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
Airline              0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Org_Airport          0
Dest                 0
Dest_Airport         0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [ ]:
df.to_csv('Air_lines_cleaned.csv',index=False)