In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv(r"C:\Users\adrik\Downloads\Flight_delay.csv")
df.head()

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484551 entries, 0 to 484550
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DayOfWeek          484551 non-null  int64
 1   Date               484551 non-null  object
 2   DepTime            484551 non-null  int64
 3   ArrTime            484551 non-null  int64
 4   CRSArrTime         484551 non-null  int64
 5   UniqueCarrier      484551 non-null  object
 6   Airline            484551 non-null  object
 7   FlightNum          484551 non-null  int64
 8   TailNum            484551 non-null  object
 9   ActualElapsedTime  484551 non-null  int64
 10  CRSElapsedTime     484551 non-null  int64
 11  AirTime            484551 non-null  int64
 12  ArrDelay           484551 non-null  int64
 13  DepDelay           484551 non-null  int64
 14  Origin             484551 non-null  object
 15  Org_Airport        483374 non-null  object
 16  Dest               484551 non-null  object
 17  Dest_Airport       483072 non-null  object
 18  Distance           484551 non-null  int64
 19  TaxiIn             484551 non-null  int64
 20  TaxiOut            484551 non-null  int64
 21  Cancelled          484551 non-null  int64
 22  CancellationCode   484551 non-null  object
 23  Diverted           484551 non-null  int64
 24  CarrierDelay       484551 non-null  int64
 25  WeatherDelay       484551 non-null  int64
 26  NASDelay           484551 non-null  int64
 27  SecurityDelay      484551 non-null  int64
 28  LateAircraftDelay  484551 non-null  int64
dtypes: int64(20), object(9)
memory usage: 107.2+ MB

In [3]:
df.shape

(484551, 29)

In [4]:
df.columns

Index(['DayOfWeek', 'Date', 'DepTime', 'ArrTime', 'CRSArrTime',
       'UniqueCarrier', 'Airline', 'FlightNum', 'TailNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin',
       'Org_Airport', 'Dest', 'Dest_Airport', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [5]:
df.dtypes

DayOfWeek             int64
Date                 object
DepTime               int64
ArrTime               int64
CRSArrTime            int64
UniqueCarrier        object
Airline              object
FlightNum             int64
TailNum              object
ActualElapsedTime     int64
CRSElapsedTime        int64
AirTime               int64
ArrDelay              int64
DepDelay              int64
Origin               object
Org_Airport          object
Dest                 object
Dest_Airport         object
Distance              int64
TaxiIn                int64
TaxiOut               int64
Cancelled             int64
CancellationCode     object
Diverted              int64
CarrierDelay          int64
WeatherDelay          int64
NASDelay              int64
SecurityDelay         int64
LateAircraftDelay     int64
dtype: object

In [6]:
df.describe()

,DayOfWeek,DepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.0,484551.0,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000
mean,3.991605,1564.477865,1617.784438,1652.129929,2139.207386,134.810422,131.400761,108.877134,60.907764,57.498086,752.142689,6.782413,19.150876,0.0,0.0,17.419440,3.153284,13.599421,0.082033,26.653587
std,1.971466,452.235219,583.637660,466.096216,1812.677071,74.070374,71.542531,70.113513,56.975420,55.991012,571.631124,5.555816,15.309747,0.0,0.0,39.417893,19.503657,31.454655,1.884774,40.535994
min,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000,-21.000000,0.000000,15.000000,6.000000,31.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1234.000000,1327.000000,1339.000000,629.000000,80.000000,79.000000,57.000000,25.000000,23.000000,331.000000,4.000000,11.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,1620.000000,1737.000000,1723.000000,1514.000000,116.000000,114.000000,90.000000,42.000000,40.000000,599.000000,5.000000,15.000000,0.0,0.0,2.000000,0.000000,1.000000,0.000000,13.000000
75%,6.000000,1928.000000,2049.000000,2025.000000,3683.000000,168.000000,162.000000,139.000000,76.000000,72.000000,992.000000,8.000000,22.000000,0.0,0.0,19.000000,0.000000,13.000000,0.000000,36.000000
max,7.000000,2400.000000,2400.000000,2359.000000,8403.000000,727.000000,602.000000,609.000000,1707.000000,1710.000000,4502.000000,207.000000,383.000000,0.0,0.0,1707.000000,1148.000000,1357.000000,392.000000,1254.000000

In [7]:
df.head()

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16

In [8]:
df.tail()

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
484546,5,13-06-2019,1609,1942,1915,AA,American Airlines Inc.,1496,N510AA,153,...,7,15,0,N,0,27,0,0,0,0
484547,6,14-06-2019,1616,1954,1915,AA,American Airlines Inc.,1496,N559AA,158,...,11,11,0,N,0,11,0,0,0,28
484548,2,17-06-2019,1617,2002,1915,AA,American Airlines Inc.,1496,N505AA,165,...,7,17,0,N,0,0,22,5,0,20
484549,7,22-06-2019,1607,1941,1915,AA,American Airlines Inc.,1496,N421AA,154,...,5,12,0,N,0,1,0,0,0,25
484550,1,23-06-2019,1608,1933,1915,AA,American Airlines Inc.,1496,N487AA,145,...,6,10,0,N,0,18,0,0,0,0

To check for missing Values:

In [9]:
df.isnull().sum()
df.isna().mean()*100

DayOfWeek            0.000000
Date                 0.000000
DepTime              0.000000
ArrTime              0.000000
CRSArrTime           0.000000
UniqueCarrier        0.000000
Airline              0.000000
FlightNum            0.000000
TailNum              0.000000
ActualElapsedTime    0.000000
CRSElapsedTime       0.000000
AirTime              0.000000
ArrDelay             0.000000
DepDelay             0.000000
Origin               0.000000
Org_Airport          0.242905
Dest                 0.000000
Dest_Airport         0.305231
Distance             0.000000
TaxiIn               0.000000
TaxiOut              0.000000
Cancelled            0.000000
CancellationCode     0.000000
Diverted             0.000000
CarrierDelay         0.000000
WeatherDelay         0.000000
NASDelay             0.000000
SecurityDelay        0.000000
LateAircraftDelay    0.000000
dtype: float64

Performing Sampling and memory optimization

In [10]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484551 entries, 0 to 484550
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DayOfWeek          484551 non-null  int64
 1   Date               484551 non-null  object
 2   DepTime            484551 non-null  int64
 3   ArrTime            484551 non-null  int64
 4   CRSArrTime         484551 non-null  int64
 5   UniqueCarrier      484551 non-null  object
 6   Airline            484551 non-null  object
 7   FlightNum          484551 non-null  int64
 8   TailNum            484551 non-null  object
 9   ActualElapsedTime  484551 non-null  int64
 10  CRSElapsedTime     484551 non-null  int64
 11  AirTime            484551 non-null  int64
 12  ArrDelay           484551 non-null  int64
 13  DepDelay           484551 non-null  int64
 14  Origin             484551 non-null  object
 15  Org_Airport        483374 non-null  object
 16  Dest               484551 non-null  object
 17  Dest_Airport       483072 non-null  object
 18  Distance           484551 non-null  int64
 19  TaxiIn             484551 non-null  int64
 20  TaxiOut            484551 non-null  int64
 21  Cancelled          484551 non-null  int64
 22  CancellationCode   484551 non-null  object
 23  Diverted           484551 non-null  int64
 24  CarrierDelay       484551 non-null  int64
 25  WeatherDelay       484551 non-null  int64
 26  NASDelay           484551 non-null  int64
 27  SecurityDelay      484551 non-null  int64
 28  LateAircraftDelay  484551 non-null  int64
dtypes: int64(20), object(9)
memory usage: 334.4 MB

In [11]:
sample_df=df.sample(1000,random_state=42)

In [12]:
# Formatting the datatype of date
print(df["Date"].dtype)
df["Date"] = pd.to_datetime(df["Date"], format="%d-%m-%Y", errors="coerce")

print(df["Date"].dtype)
df.head()

object
datetime64[ns]

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,2019-01-03,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,2019-01-03,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,2019-01-03,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,2019-01-03,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,2019-01-03,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16

In [ ]:
#Convert DepTime (HHMM int) into string with leading zeros
df["DepTime"] = df["DepTime"].apply(lambda x: f"{int(x):04d}" if pd.notnull(x) else "0000")

In [14]:
print("\nMemory Usage before Optimization:")
total_mem_mb = df.memory_usage(deep=True).sum() / (1024 * 1024)
print(f"Total memory usage: {total_mem_mb:.2f} MB")

Memory Usage before Optimization:
Total memory usage: 331.64 MB

In [15]:
# Optimizing memory usage by converting columns to appropriate datatypes
for col in df.select_dtypes(include=['int64']).columns:
    df[col] = pd.to_numeric(df[col], downcast='integer')

for col in df.select_dtypes(include=['float64']).columns:
    df[col] = pd.to_numeric(df[col], downcast='float')

for col in df.select_dtypes(include=['object']).columns:
    num_unique_values = df[col].nunique()
    num_total_values = len(df[col])
    if num_unique_values / num_total_values < 0.5:
        df[col] = df[col].astype('category')

print("\nMemory Usage after Optimization:")
total_mem_mb = df.memory_usage(deep=True).sum() / (1024 * 1024)
print(f"Total memory usage: {total_mem_mb:.2f} MB")

Memory Usage after Optimization:
Total memory usage: 27.32 MB

In [16]:
df.dtypes

DayOfWeek                      int8
Date                 datetime64[ns]
DepTime                    category
ArrTime                       int16
CRSArrTime                    int16
UniqueCarrier              category
Airline                    category
FlightNum                     int16
TailNum                    category
ActualElapsedTime             int16
CRSElapsedTime                int16
AirTime                       int16
ArrDelay                      int16
DepDelay                      int16
Origin                     category
Org_Airport                category
Dest                       category
Dest_Airport               category
Distance                      int16
TaxiIn                        int16
TaxiOut                       int16
Cancelled                      int8
CancellationCode           category
Diverted                       int8
CarrierDelay                  int16
WeatherDelay                  int16
NASDelay                      int16
SecurityDelay                 int16
LateAircraftDelay             int16
dtype: object

In [17]:
# Checking for duplicates and removing them from the dataset
print(df.duplicated().sum())
df_new=df.drop_duplicates()
print(df_new.duplicated().sum())

2
0

In [18]:
df_new = df_new.copy()

In [ ]:
# Filling numeric columns with median and mean, categorical with mode
for col in df_new.columns:
    if pd.api.types.is_numeric_dtype(df_new[col]):
        median_val = df_new[col].median()
        mean_val = df_new[col].mean()
        df_new.loc[:, col] = df_new[col].fillna(median_val).fillna(mean_val)
    elif pd.api.types.is_categorical_dtype(df_new[col]) or df_new[col].dtype == object:
        mode_val = df_new[col].mode().iloc[0] if not df_new[col].mode().empty else None
        if mode_val is not None:
            df_new.loc[:, col] = df_new[col].fillna(mode_val)

In [19]:
df_new.isnull().sum()

DayOfWeek               0
Date                    0
DepTime                 0
ArrTime                 0
CRSArrTime              0
UniqueCarrier           0
Airline                 0
FlightNum               0
TailNum                 0
ActualElapsedTime       0
CRSElapsedTime          0
AirTime                 0
ArrDelay                0
DepDelay                0
Origin                  0
Org_Airport          1177
Dest                    0
Dest_Airport         1479
Distance                0
TaxiIn                  0
TaxiOut                 0
Cancelled               0
CancellationCode        0
Diverted                0
CarrierDelay            0
WeatherDelay            0
NASDelay                0
SecurityDelay           0
LateAircraftDelay       0
dtype: int64

In [20]:
#adding columns which are useful for further analysis
df_new["Month"] = df_new["Date"].dt.month
df_new["DayOfWeek"] = df_new["Date"].dt.day_name()
df_new["Route"] = df_new["Origin"].astype(str) + "-" + df_new["Dest"].astype(str)

In [21]:
# changing the columns DepTime, ArrTime, CRSArrTime to correct format of time (e.g., 1832 to 18:32)
for col in ["DepTime", "ArrTime", "CRSArrTime"]:
    if col in df_new.columns:
        df_new[col] = df_new[col].apply(lambda x: f"{int(x):04d}" if pd.notnull(x) and str(x).isdigit() else "0000")
        df_new[col] = df_new[col].apply(lambda x: f"{x[:2]}:{x[2:]}" if len(x) == 4 else x)


def mins_to_hhmm(x):
    if pd.isnull(x):
        return None
    x = int(x)
    hours = x // 60
    minutes = x % 60
    return f"{hours:02d}:{minutes:02d}"

for col in ["ActualElapsedTime", "CRSElapsedTime", "AirTime"]:
    if col in df_new.columns:
        df_new[col] = df_new[col].apply(mins_to_hhmm)

In [22]:
df_new.head()

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Month,Route
0,Thursday,2019-01-03,18:29,19:59,19:25,WN,Southwest Airlines Co.,3920,N464WN,01:30,...,0,N,0,2,0,0,0,32,1,IND-BWI
1,Thursday,2019-01-03,19:37,20:37,19:40,WN,Southwest Airlines Co.,509,N763SW,04:00,...,0,N,0,10,0,0,0,47,1,IND-LAS
2,Thursday,2019-01-03,16:44,18:45,17:25,WN,Southwest Airlines Co.,1333,N334SW,02:01,...,0,N,0,8,0,0,0,72,1,IND-MCO
3,Thursday,2019-01-03,14:52,16:40,16:25,WN,Southwest Airlines Co.,675,N286WN,03:48,...,0,N,0,3,0,0,0,12,1,IND-PHX
4,Thursday,2019-01-03,13:23,15:26,15:10,WN,Southwest Airlines Co.,4,N674AA,02:03,...,0,N,0,0,0,0,0,16,1,IND-TPA

In [26]:
#adding columns which are useful 
df_new["Month"] = df_new["Date"].dt.month
df_new["DayOfWeek"] = df_new["Date"].dt.day_name()
df_new["Route"] = df_new["Origin"].astype(str) + "-" + df_new["Dest"].astype(str)

In [27]:
df_new[["Date", "DepTime", "Month", "DayOfWeek", "Route"]].head()

        Date DepTime  Month DayOfWeek    Route
0 2019-01-03   18:29      1  Thursday  IND-BWI
1 2019-01-03   19:37      1  Thursday  IND-LAS
2 2019-01-03   16:44      1  Thursday  IND-MCO
3 2019-01-03   14:52      1  Thursday  IND-PHX
4 2019-01-03   13:23      1  Thursday  IND-TPA

In [28]:
import os
print(os.getcwd())

c:\Users\adrik\Desktop\Infosys

Saved Processed data for fast reuse

In [30]:
import os

folder_path = r"C:\Users\adrik\Documents\Cleaned_Dataset"
os.makedirs(folder_path, exist_ok=True)


file_path = os.path.join(folder_path, "cleaned_dataset.csv")

# Save cleaned DataFrame
df_new.to_csv(file_path, index=False)

print(f" DataFrame saved successfully at: {file_path}")

 DataFrame saved successfully at: C:\Users\adrik\Documents\Cleaned_Dataset\cleaned_dataset.csv